.navbar {
    display:flex;
}
button {
    background-color: #c9aab4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    margin: 0;
}
button:hover {
    opacity:1;
    background-color: #43a39b;
}
